# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb

# LaTeX bibliography files
*.bbl
*.bcf
*.blg
*.run.xml

# LaTeX makeindex files
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs

# LaTeX minitoc files
*.maf
*.mtc
*.mtc[0-9]
*.mtc[0-9][0-9]

# LaTeX synctex
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# LaTeX build tool files
*.fdb_latexmk

# PDF output (uncomment if you don't want to track PDFs)
# *.pdf

