/main.acn
/main.aux
/main.bbl
/main.bcf
/main.fdb_latexmk
/main.fls
/main.glo
/main.ist
/main.lof
/main.log
/main.lot
/main.maf
/main.mtc
/main.mtc0
/main.mtc1
/main.mtc10
/main.mtc11
/main.mtc2
/main.mtc3
/main.mtc4
/main.mtc5
/main.mtc6
/main.mtc7
/main.mtc8
/main.mtc9
/main.run.xml
/main.synctex.gz